
#calculator {
    display: grid;
    grid-template-areas:  
        "cinput cinput cinput cinput "  
        "bclr bdiv bmul bsub"
        "b7 b8 b9 badd" 
        "b4 b5 b6 badd"
        "b1 b2 b3 bcalc"
        "b0 b0 bdot bcalc";
    gap: 1em;
    width:18em;
    padding: 2em;
    background-color: rgb(48, 62, 85);
    margin:auto;
    margin-top:1em;
    border-radius: 1em;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.cbtn {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    font-size: 1.5em;
    background-color: rgb(228, 224, 130);
    text-align: center;
    border-radius: 1.1em;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    user-select: none;
}
.cbtn:hover {
    background-color: rgb(248, 246, 204);
}
#cinput { 
    grid-area: cinput ;
    background-color: rgb(194, 194, 194);
    font-size: 2em;
    box-sizing: border-box;
    border-radius: .5em;
    box-shadow: -2px -2px 4px rgb(31, 31, 31) inset;
    text-align: right;
    padding: .25em;
    height:1.9em;
    overflow: hidden;
    margin-bottom: .5em;
    padding-right: .4em;
}

#b0 { grid-area:b0; }
#b1 { grid-area:b1; }
#b2 { grid-area:b2; }
#b3 { grid-area:b3; }
#b4 { grid-area:b4; }
#b5 { grid-area:b5; }
#b6 { grid-area:b6; }
#b7 { grid-area:b7; }
#b8 { grid-area:b8; }
#b9 { grid-area:b9; }

#bclr { grid-area:bclr; }
#bdiv { grid-area:bdiv; }
#bmul { grid-area:bmul; }
#bsub { grid-area:bsub; }
#badd { grid-area:badd; }
#bcalc { grid-area:bcalc; }


