body {
    max-width: 60em;
}
#input {
    margin-top: .5em;;
}
#exp-form {
    box-sizing:border-box;
    /* background-color: rgb(138, 138, 138); */
    display: flex;
    flex-wrap: wrap;
    gap:5px;

}

.exp-field {
    padding: .25em;
    /* margin: .2em; */
    /* border: 1px solid black; */
    /* background-color: rgb(224, 177, 119); */
    border-radius: 0em;
    width: 6em;
}

#exp-form label {
    display:block;
    /* font-size:small; */
    /* text-align: center; */
    font-weight: bold;
    box-shadow: 1px,1px,3px, rgb(153, 70, 70)
}

#exp-form input:not([type="checkbox"]):not([type="radio"]):not([type="month"]), 
#exp-form textarea,
#sec-date input
{
    border: 1px solid black;
    border-radius: .2em;
    font-size: 1.0em;
    /* width: 6em; */
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
    width: 100%;
    box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.9);
    height: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    padding-left: 1em;
}

#sec-date { 
    flex: 1 33%; 
    text-align: left; 
}
#sec-date input{
    height:3em;

}
#sec-mortgage{ flex: 1 30%}
#sec-gas { flex: 1 30%}
#sec-care { flex: 1 30%}
#sec-ins { flex: 1 30%}
#sec-utility { flex: 1 30%}
#sec-internet { flex:1 30%}
#sec-mobile { flex: 1 30%}
#sec-misc { flex: 1 1 66%; height:5em; } 
#sec-save { flex: 1 33%; }
#sec-reset { flex: 1 33%; }

#output {
    width:100%;
    overflow: hidden;
    display: block;
}

#output > input {
    font-size:2em;
}