html {

}

#play-area {
    background-color: rgba(18, 106, 146, 0.801);
    color: rgb(236, 236, 185);
    padding:.5em;
    margin: 1em;
    text-align: center;
    border-radius: 3em;
    border: 2px solid black;
}

#intro{
    font-size:1.2em;

}
#status {
    margin-top:1em;
    margin-bottom: .5em;
}
#restart-game {
    display:none;
}

#guess {
    border-radius: .5em;
    padding:.25em;
    box-shadow: 1px 1px 2px black;
    width:4em;
}

button {
    border-radius: .5em;
}











