html {
    background-color: rgb(98, 99, 86);
}
body {
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    color:rgb(71, 133, 195);
    text-shadow: 1px 1px .1em rgb(0, 0, 0);
    border-bottom: 2px solid rgb(28, 21, 61);
    padding:.2em;
    margin:0;
    /* padding-bottom: .5em; */
    background-image: url('/media/javascript.png');
    background-color:hsl(56, 24%, 53%);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: right .5em bottom -.1em;
}

h1 > span {
    font-size: .7em;
    font-weight: 100;
    margin-left: .5em;
    text-shadow: none;
    color:rgb(255, 255, 255);
}


#notes {
    /* visibility:hidden; */
    visibility:visible;
    width: 90vw;
    margin:auto;
    margin-top: 1em;
    padding:.5em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: beige;
}
#notes > h2{
    background-color: #ddd;
}
.code {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: rgb(40, 40, 40);
    color: #fc0;
    border: 2px solid rgb(0, 0, 0);
    text-align: left !important;
    padding: 10px;
    margin: 10px;
}
.code>div {
    margin-bottom: .5em;
    padding-bottom: .2em;
    border-bottom: 1px solid orange;
}