html {
    background-color: rgb(148, 148, 147);
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;

}


.index {

}

.index  a {
    margin: .2em;
    border-radius: .3em;
    /* border: 1px solid green; */
    padding:.2em;
    background-color: rgb(172, 173, 173);
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    color:rgb(12, 49, 216);
    display:inline-block;
    border: 1px solid rgb(70, 70, 70);
    ;
}
.index a:hover {
    background-color: #888;
}
.index h1 a {
    margin: .5;
    /* margin-bottom: 1em; */
    padding:.2;
    font-size: .5em;
    color:black;
}


h1 {
    color:rgb(71, 133, 195);
    text-shadow: 1px 1px .1em rgb(0, 0, 0);
    border-bottom: 2px solid rgb(28, 21, 61);
    padding:.2em;
    margin:0;
    /* padding-bottom: .5em; */
    background-color:hsl(55, 21%, 21%);
    background: linear-gradient(to bottom, rgb(102, 94, 20) , rgb(36, 33, 28) 1.7em);
    /* background-image: url('/media/mars-returnship.png');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: right .5em bottom 0; */
}

h1 > span {
    font-size: .7em;
    font-weight: 100;
    margin-left: .5em;
    text-shadow: none;
    color:rgb(255, 255, 255);
}


#notes {
    /* visibility:hidden; */
    visibility:visible;
    width: 90vw;
    margin:auto;
    margin-top: 1em;
    padding:.5em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: beige;
}
#notes > h2{
    background-color: #ddd;
}
.code {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: rgb(40, 40, 40);
    color: #fc0;
    border: 2px solid rgb(0, 0, 0);
    text-align: left !important;
    padding: 10px;
    margin: 10px;
    border-radius: 1em;
}
.code>div {
    margin-bottom: .5em;
    padding-bottom: .2em;
    border-bottom: 2px solid orange;

    font-size: 1.2em;;
}