html {
    background-color:  rgb(241, 241, 234);
}
body {
    background-color: transparent;
}

#app {
    background-color: rgb(212, 235, 255);
    
    border-radius: .5em;
}

.modal-content{
    background-color: rgb(233, 219, 203);
}
.modal-header{
    color: rgb(177, 180, 143);
    background-color: rgb(66, 58, 50);

}
.modal-footer {
    text-align: center;
}

.emp-form-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    /* width: 60rem; */
}
.emp-form-body label {
    text-align: right;
    display: block;
    margin-right: 1em;
}
.emp-form-body  div {
    display: block;
    width: 45%;
}
.emp-form-body label {
    font-style: italic;
    font-size:small;
}

.emp-form-body input {
    margin-bottom: .5em;
}



