* {
    /* border: 1px solid rgb(255, 140, 140); */
}

.grid-container {
    display: grid;
    /* grid-template-columns: 25% auto auto;
    grid-template-columns: auto auto auto; */
    /* grid-template-areas: "header menu main right footer"; */
    grid-template-areas:    
        "header header header header header" 
        "aside main main main right"
        /* "aside " */
        "menu footer footer footer footer";
    background-color: rgb(210, 192, 119);
    padding: .5em;
    grid-gap:.2em;
}

.grid-container > div {
 border: 1px solid orange;
}

.gi1{
    background-color: rgb(112, 141, 112);
    grid-area: header;
}
.gi2{
    grid-area: menu;
    background-color: blue;
}
.gi3{
    grid-area: main;
}
.gi4{
    grid-area: right;
}
.gi5{
    grid-area: footer;
}
/* .grid-item {
    background-color: khaki;
    padding:.5em;
    text-align: center;
    border: 1px solid black;
} */
