
* {
    margin:auto;
}
body {
    background-color: rgb(205, 205, 205);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
h1 {
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px .1em rgb(174, 0, 0);
    border-bottom: 1px solid red;
    margin-top: .25em;
    padding-bottom: .5em;
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
}
table {
    width: 90vw;
    border: 1px solid black;
    margin:auto;
}
tr:nth-child(even) {
    background-color: rgb(156, 156, 156);
}
th {
    text-transform:capitalize;
    border-bottom: 1px solid black;
    font-size: 1.2em;
}
td {
    text-align: center;
}
p:nth-child(even) {
    background-color: rgb(252, 252, 252);
    border-radius: 1em;
    padding: .25em;
}
p:nth-child(odd) {
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
#links {
    width: 50vw;
}

a {
    text-decoration: none;
    color: rgb(7, 135, 255);
    display: block;
}

ul {
    margin-top:1em;
    list-style: none;
}
a:active {
    color:red;
}
a:visited {
    color: purple;
}
a:hover {
    background-color: rgb(169, 169, 169);
}

input {
    background-color: rgb(168, 168, 168);;
}
input:focus { 
    background-color: rgb(219, 214, 225);

}