* {
    box-sizing: border-box;
}


#assignment{
    text-transform: uppercase;
    display: grid;
    grid-template-areas:    
        "green green green" 
        "yellow red blue"
        "orange orange blue";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(210, 192, 119);
    padding: .5em;
    grid-gap:1em;
}
.section {
    background-color: rgb(61, 159, 159);
    padding: .5em;
}
#green {
    grid-area: green;
    background-color: rgb(130, 255, 130);
}
#yellow {
    grid-area: yellow;
    background-color: rgb(255, 255, 94);
}
#red {
    grid-area: red;
    background-color: rgb(239, 114, 114);

}
#blue {
    grid-area:blue;
    background-color:rgb(119, 119, 253);
}
#orange {
    grid-area:orange;
    background-color: rgb(252, 200, 104);
}

.boxes {
    /* width:100%; */
    display: flex;
    flex-wrap: wrap;
    gap:.5em;
}
.box {
    display: flex;
    
    flex-basis:46%;

    background-color: #ddd;
    height: 1.7em;
    width: 2em;
}





