* { text-align: center; }
body {
    margin: 0;
}
#header, #footer{
    background-color: rgb(194, 149, 66);
    margin: .5em;
    padding: .2em
}
#app{
    background-color: rgb(34, 79, 38);
    padding: 1em;
    margin:0:
}
#container { 
    display:flex; 
}
#aside {
    background-color: rgb(107, 87, 52);
    color: rgb(224, 224, 224);
    flex: 1 0 0;
    margin: .5em;
}
#aside > hr { 
    border-color:rgba(0,0,0,.5); 
}
#aside > h3 { 
    padding-top:.5em;
}
#aside > ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
#aside > ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    
}
#article {
    background-color: rgb(192, 178, 135);
    flex: 3 0 0;
    margin: .5em;    
}
#imgcontainer {
    display: flex;
    width: 100%;
}
.artimg {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    background-color: rgb(47, 74, 47);
    /* background-image: url("/media/splotch.png"); */
    background-size: contain;
    border: 1px solid black;
    margin:.2em;
    padding: .2em;
}
.artimg > img, #article > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
