
* {
    text-align: center;
}
body {
    background-color: rgb(205, 205, 205);
}
h1 {
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px .1em rgb(174, 0, 0);
    border-bottom: 1px solid red;
    padding-bottom: .5em;
}
table {
    width: 100%;
    border: 1px solid black;
}
th {
    text-transform:capitalize;
    border-bottom: 1px solid black;
}
td {
    text-align: center;
}
p:nth-child(even) {
    background-color: rgb(252, 252, 252);
    border-radius: 1em;
    padding: .25em;
}
p:nth-child(odd) {
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    background-color: cornsilk;
}