.container {
    display: flex;
    background-color: rgb(85, 114, 43);
    text-transform: uppercase;
    /* flex-direction: column; defaults to row */
    flex-wrap: nowrap; /* default to nowrap */
    /* flex-flow: column wrap; */
}
.container > div {
    background-color: orange;
    margin: .5em;
    padding:.5em;
    height: 2em;
    overflow: hidden;
}

#flex1 {

}
#flex2 {

}
#flex3 {

}
#flex4 {

}
#flex5 {

}
#flex6 {

}
#flex7 {

}