* {
    box-sizing: border-box;
}

#assignment{
    top:0em;
    width: 95vw;
    height: 95vh;
    border: 2px solid black;
    position:relative;
    text-transform: uppercase;
}
.section {
    position:absolute;
    padding-top: 1em;
    padding-left: 1em;
    text-align: left;
}
#green {
    background-color: rgb(130, 255, 130);
    width: 100%;    height: 20%;    top:0%;    left:0%
}
#yellow {
    background-color: rgb(255, 255, 94);
    height: 45%;    width:30%;     top:25%;    left:0%;
}
#red {
    background-color: rgb(239, 114, 114);
    height: 45%;    width: 30%;    top: 25%;   left: 33%;
}
#blue {
    background-color:rgb(119, 119, 253);
    height: 75%;     width:34%;    top:25%;    left:66%;
}
#orange {
    background-color: rgb(252, 200, 104);
    height:25%;      width:63%;    top:75%;    left:0%;
}

.box {
    position: absolute;
    background-color: #ddd;
    padding:.25em;
    height: 1.7em;
    width: 2em;
}
.box.r1 { top:25%; }
.box.r2 { top:50%; }
.box.c1 { left:20%; }
.box.c2 { left:60%; }




