
body {
    background-color: rgb(225, 225, 225);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color:rgb(43, 139, 235);
    text-shadow: 1px 1px .1em rgb(0, 0, 0);
    border-bottom: 2px solid rgb(28, 21, 61);
    padding:.2em;
    /* padding-bottom: .5em; */
    background-color: #aaa;
    margin:0;
}



#notes {
    /* visibility:hidden; */
    visibility:visible;
    width: 90vw;
    margin:auto;
    margin-top: 1em;
    padding:.5em;
    border: 2px solid black;
    border-radius: 1em;
    background-color: beige;
}
#notes > h2{
    background-color: #ddd;
}
.code {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: rgb(40, 40, 40);
    color: #fc0;
    border: 2px solid rgb(0, 0, 0);
    text-align: left !important;
    padding: 10px;
    margin: 10px;
}
.code>div {
    margin-bottom: .5em;
}